<!--
<div class="collect weekC ">
    <div class="collect-select">
        <span><i><img src="/images/mandatory.png"></i>日汇总时间：<input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="inputter day" ng-model="sum.day" ></span>
        <button ng-click="collect()">汇总</button>
    </div>
    <div id="dayImg" style="width: 900px;height:800px; margin: -48px auto 0 auto"></div>
</div>-->
<div class="collect weekC ">
    <div class="collect-select">
        <span><i><img src="/images/mandatory.png"></i>日汇总时间：<input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="inputter day" ng-model="day" ></span>
        <button ng-click="collect()">汇总</button>
    </div>

    <div id="monthImg" style="width: 1500px;height:800px; margin: 0px auto 0 auto"></div>
</div>
